
[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = false
insert_final_newline = true
indent_style = space
indent_size = 4

# Microsoft .NET properties
csharp_indent_switch_labels = false
csharp_new_line_before_catch = false
csharp_new_line_before_else = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_open_brace = none
csharp_preferred_modifier_order = public, private, protected, internal, file, new, static, abstract, virtual, sealed, readonly, override, extern, unsafe, volatile, async, required:suggestion
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_using_directive_placement = inside_namespace:silent
dotnet_naming_rule.constants_rule.import_to_resharper = as_predefined
dotnet_naming_rule.constants_rule.resharper_style = AaBb, AA_BB
dotnet_naming_rule.constants_rule.severity = suggestion
dotnet_naming_rule.constants_rule.style = upper_camel_case_style
dotnet_naming_rule.constants_rule.symbols = constants_symbols
dotnet_naming_rule.interfaces_rule.import_to_resharper = as_predefined
dotnet_naming_rule.interfaces_rule.resharper_style = I + AaBb, AaBb
dotnet_naming_rule.interfaces_rule.severity = suggestion
dotnet_naming_rule.interfaces_rule.style = i_upper_camel_case_style
dotnet_naming_rule.interfaces_rule.symbols = interfaces_symbols
dotnet_naming_rule.local_functions_rule.import_to_resharper = as_predefined
dotnet_naming_rule.local_functions_rule.resharper_style = AaBb, aaBb
dotnet_naming_rule.local_functions_rule.severity = suggestion
dotnet_naming_rule.local_functions_rule.style = upper_camel_case_style
dotnet_naming_rule.local_functions_rule.symbols = local_functions_symbols
dotnet_naming_rule.parameters_rule.import_to_resharper = as_predefined
dotnet_naming_rule.parameters_rule.resharper_style = aaBb, __ + aaBb
dotnet_naming_rule.parameters_rule.severity = suggestion
dotnet_naming_rule.parameters_rule.style = lower_camel_case_style
dotnet_naming_rule.parameters_rule.symbols = parameters_symbols
dotnet_naming_rule.private_constants_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_constants_rule.resharper_style = AaBb, AA_BB
dotnet_naming_rule.private_constants_rule.severity = suggestion
dotnet_naming_rule.private_constants_rule.style = upper_camel_case_style
dotnet_naming_rule.private_constants_rule.symbols = private_constants_symbols
dotnet_naming_rule.private_instance_fields_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_instance_fields_rule.resharper_style = aaBb, _ + aaBb
dotnet_naming_rule.private_instance_fields_rule.severity = suggestion
dotnet_naming_rule.private_instance_fields_rule.style = lower_camel_case_style
dotnet_naming_rule.private_instance_fields_rule.symbols = private_instance_fields_symbols
dotnet_naming_rule.private_static_fields_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_static_fields_rule.resharper_style = AaBb, aaBb, AaBb_AaBb
dotnet_naming_rule.private_static_fields_rule.severity = suggestion
dotnet_naming_rule.private_static_fields_rule.style = upper_camel_case_style
dotnet_naming_rule.private_static_fields_rule.symbols = private_static_fields_symbols
dotnet_naming_rule.private_static_readonly_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_static_readonly_rule.severity = suggestion
dotnet_naming_rule.private_static_readonly_rule.style = upper_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols = private_static_readonly_symbols
dotnet_naming_rule.public_fields_rule.import_to_resharper = as_predefined
dotnet_naming_rule.public_fields_rule.resharper_style = AaBb, aaBb, aaBb_aaBb
dotnet_naming_rule.public_fields_rule.severity = suggestion
dotnet_naming_rule.public_fields_rule.style = upper_camel_case_style
dotnet_naming_rule.public_fields_rule.symbols = public_fields_symbols
dotnet_naming_rule.static_readonly_rule.import_to_resharper = as_predefined
dotnet_naming_rule.static_readonly_rule.severity = suggestion
dotnet_naming_rule.static_readonly_rule.style = upper_camel_case_style
dotnet_naming_rule.static_readonly_rule.symbols = static_readonly_symbols
dotnet_naming_rule.types_and_namespaces_rule.import_to_resharper = as_predefined
dotnet_naming_rule.types_and_namespaces_rule.resharper_style = AaBb, AaBb_AaBb
dotnet_naming_rule.types_and_namespaces_rule.severity = suggestion
dotnet_naming_rule.types_and_namespaces_rule.style = upper_camel_case_style
dotnet_naming_rule.types_and_namespaces_rule.symbols = types_and_namespaces_symbols
dotnet_naming_rule.type_parameters_rule.import_to_resharper = as_predefined
dotnet_naming_rule.type_parameters_rule.resharper_style = T + AaBb, AaBb
dotnet_naming_rule.type_parameters_rule.severity = suggestion
dotnet_naming_rule.type_parameters_rule.style = t_upper_camel_case_style
dotnet_naming_rule.type_parameters_rule.symbols = type_parameters_symbols
dotnet_naming_style.i_upper_camel_case_style.capitalization = pascal_case
dotnet_naming_style.i_upper_camel_case_style.required_prefix = I
dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_style.t_upper_camel_case_style.capitalization = pascal_case
dotnet_naming_style.t_upper_camel_case_style.required_prefix = T
dotnet_naming_style.upper_camel_case_style.capitalization = pascal_case
dotnet_naming_symbols.constants_symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.constants_symbols.applicable_kinds = field
dotnet_naming_symbols.constants_symbols.required_modifiers = const
dotnet_naming_symbols.interfaces_symbols.applicable_accessibilities = *
dotnet_naming_symbols.interfaces_symbols.applicable_kinds = interface
dotnet_naming_symbols.local_functions_symbols.applicable_accessibilities = *
dotnet_naming_symbols.local_functions_symbols.applicable_kinds = local_function
dotnet_naming_symbols.parameters_symbols.applicable_accessibilities = *
dotnet_naming_symbols.parameters_symbols.applicable_kinds = parameter
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds = field
dotnet_naming_symbols.private_constants_symbols.required_modifiers = const
dotnet_naming_symbols.private_instance_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_instance_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_fields_symbols.required_modifiers = static
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers = static, readonly
dotnet_naming_symbols.public_fields_symbols.applicable_accessibilities = public, internal, protected, protected_internal, private_protected
dotnet_naming_symbols.public_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.static_readonly_symbols.applicable_accessibilities = public, internal, protected, protected_internal, private_protected
dotnet_naming_symbols.static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.static_readonly_symbols.required_modifiers = static, readonly
dotnet_naming_symbols.types_and_namespaces_symbols.applicable_accessibilities = *
dotnet_naming_symbols.types_and_namespaces_symbols.applicable_kinds = namespace, class, struct, enum, delegate
dotnet_naming_symbols.type_parameters_symbols.applicable_accessibilities = *
dotnet_naming_symbols.type_parameters_symbols.applicable_kinds = type_parameter
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_require_accessibility_modifiers = never:suggestion

# ReSharper properties
resharper_align_linq_query = true
resharper_align_multiline_argument = true
resharper_align_multiline_binary_expressions_chain = false
resharper_align_multiline_binary_patterns = true
resharper_align_multiline_for_stmt = true
resharper_align_multiline_parameter = true
resharper_align_multiline_statement_conditions = false
resharper_align_tuple_components = true
resharper_always_use_end_of_line_brace_style = true
resharper_apply_auto_detected_rules = false
resharper_arguments_skip_single = true
resharper_blank_lines_after_block_statements = 0
resharper_blank_lines_around_auto_property = 0
resharper_blank_lines_around_local_method = 0
resharper_blank_lines_around_single_line_type = 0
resharper_braces_for_for = required
resharper_braces_for_foreach = required
resharper_braces_for_ifelse = required
resharper_braces_for_while = required
resharper_cpp_max_line_length = 155
resharper_csharp_allow_alias = false
resharper_csharp_blank_lines_around_field = 0
resharper_csharp_empty_block_style = together
resharper_csharp_insert_final_newline = true
resharper_csharp_int_align_comments = true
resharper_csharp_keep_blank_lines_in_code = 1
resharper_csharp_keep_blank_lines_in_declarations = 1
resharper_csharp_max_line_length = 150
resharper_csharp_naming_rule.enum_member = AaBb, AA_BB
resharper_csharp_naming_rule.other = AaBb, aaBb
resharper_csharp_outdent_commas = true
resharper_csharp_outdent_dots = true
resharper_csharp_place_comments_at_first_column = true
resharper_csharp_stick_comment = false
resharper_csharp_wrap_after_declaration_lpar = true
resharper_csharp_wrap_after_invocation_lpar = true
resharper_csharp_wrap_before_binary_opsign = true
resharper_csharp_wrap_before_declaration_rpar = true
resharper_csharp_wrap_before_first_type_parameter_constraint = true
resharper_csharp_wrap_before_invocation_rpar = true
resharper_csharp_wrap_extends_list_style = chop_if_long
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_formatter_off_tag = @formatter:off
resharper_formatter_on_tag = @formatter:on
resharper_formatter_tags_enabled = true
resharper_fsharp_indent_size = 2
resharper_fsharp_keep_if_then_in_same_line = true
resharper_fsharp_max_array_or_list_width = 100
resharper_fsharp_max_function_binding_width = 100
resharper_fsharp_max_if_then_else_short_width = 100
resharper_fsharp_max_infix_operator_expression = 100
resharper_fsharp_max_line_length = 155
resharper_fsharp_max_record_width = 100
resharper_fsharp_max_value_binding_width = 100
resharper_fsharp_multiline_block_brackets_on_same_column = true
resharper_html_blank_line_after_pi = false
resharper_html_max_line_length = 155
resharper_html_space_before_self_closing = true
resharper_indent_braces_inside_statement_conditions = false
resharper_indent_preprocessor_region = no_indent
resharper_indent_switch_labels = false
resharper_instance_members_qualify_declared_in = base_class
resharper_int_align_nested_ternary = true
resharper_int_align_switch_expressions = true
resharper_int_align_switch_sections = true
resharper_keep_existing_attribute_arrangement = true
resharper_keep_existing_embedded_arrangement = false
resharper_keep_existing_enum_arrangement = true
resharper_keep_existing_expr_member_arrangement = false
resharper_max_array_initializer_elements_on_line = 10
resharper_max_attribute_length_for_same_line = 100
resharper_max_enum_members_on_line = 5
resharper_max_formal_parameters_on_line = 10
resharper_max_invocation_arguments_on_line = 10
resharper_new_line_before_while = true
resharper_normalize_tag_names = true
resharper_object_creation_when_type_not_evident = target_typed
resharper_outdent_binary_ops = true
resharper_outdent_statement_labels = true
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_field_attribute_on_same_line = false
resharper_place_record_field_attribute_on_same_line = true
resharper_place_simple_accessor_on_single_line = false
resharper_place_simple_anonymousmethod_on_single_line = false
resharper_place_simple_case_statement_on_same_line = if_owner_is_single_line
resharper_place_simple_embedded_statement_on_same_line = false
resharper_place_simple_enum_on_single_line = true
resharper_razor_remove_blank_lines_near_braces = true
resharper_resx_max_line_length = 155
resharper_show_autodetect_configure_formatting_tip = false
resharper_T4_max_line_length = 155
resharper_use_indent_from_vs = false
resharper_vb_max_line_length = 155
resharper_wrap_chained_binary_expressions = chop_if_long
resharper_wrap_chained_binary_patterns = chop_if_long
resharper_wrap_chained_method_calls = chop_if_long
resharper_wrap_enum_declaration = chop_if_long
resharper_wrap_object_and_collection_initializer_style = wrap_if_long
resharper_xmldoc_allow_far_alignment = true
resharper_xmldoc_attribute_indent = align_by_first_attribute
resharper_xmldoc_indent_size = 2
resharper_xmldoc_max_line_length = 155
resharper_xmldoc_tab_width = 2
resharper_xml_indent_style = tab
resharper_xml_max_line_length = 155
resharper_xml_pi_attribute_style = first_attribute_on_single_line

# ReSharper inspection severities
resharper_arguments_style_anonymous_function_highlighting = suggestion
resharper_arrange_local_function_body_highlighting = suggestion
resharper_arrange_null_checking_pattern_highlighting = suggestion
resharper_arrange_redundant_parentheses_highlighting = hint
resharper_arrange_this_qualifier_highlighting = none
resharper_arrange_trailing_comma_in_multiline_lists_highlighting = none
resharper_arrange_trailing_comma_in_singleline_lists_highlighting = none
resharper_arrange_var_keywords_in_deconstructing_declaration_highlighting = none
resharper_auto_property_can_be_made_get_only_global_highlighting = hint
resharper_auto_property_can_be_made_get_only_local_highlighting = hint
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_class_never_instantiated_global_highlighting = hint
resharper_class_never_instantiated_local_highlighting = hint
resharper_comment_typo_highlighting = hint
resharper_convert_closure_to_method_group_highlighting = none
resharper_convert_if_statement_to_conditional_ternary_expression_highlighting = hint
resharper_convert_to_lambda_expression_highlighting = none
resharper_convert_to_primary_constructor_highlighting = hint
resharper_empty_namespace_highlighting = hint
resharper_enforce_do_while_statement_braces_highlighting = suggestion
resharper_enforce_fixed_statement_braces_highlighting = suggestion
resharper_enforce_foreach_statement_braces_highlighting = suggestion
resharper_enforce_for_statement_braces_highlighting = suggestion
resharper_enforce_if_statement_braces_highlighting = suggestion
resharper_enforce_lock_statement_braces_highlighting = suggestion
resharper_enforce_using_statement_braces_highlighting = suggestion
resharper_enforce_while_statement_braces_highlighting = suggestion
resharper_foreach_can_be_converted_to_query_using_another_get_enumerator_highlighting = none
resharper_foreach_can_be_partly_converted_to_query_using_another_get_enumerator_highlighting = none
resharper_for_can_be_converted_to_foreach_highlighting = none
resharper_inconsistent_naming_highlighting = hint
resharper_invert_if_highlighting = none
resharper_member_can_be_private_global_highlighting = hint
resharper_member_hides_static_from_outer_class_highlighting = hint
resharper_method_supports_cancellation_highlighting = warning
resharper_not_accessed_positional_property_global_highlighting = hint
resharper_partial_method_with_single_part_highlighting = hint
resharper_partial_type_with_single_part_highlighting = hint
resharper_property_can_be_made_init_only_local_highlighting = hint
resharper_redundant_anonymous_type_property_name_highlighting = hint
resharper_redundant_if_else_block_highlighting = suggestion
resharper_redundant_using_directive_global_highlighting = hint
resharper_static_member_initializer_referes_to_member_below_highlighting = hint
resharper_suggest_var_or_type_built_in_types_highlighting = none
resharper_suggest_var_or_type_elsewhere_highlighting = suggestion
resharper_suggest_var_or_type_simple_types_highlighting = none
resharper_suspicious_type_conversion_global_highlighting = error
resharper_switch_expression_handles_some_known_enum_values_with_exception_in_default_highlighting = none
resharper_unused_auto_property_accessor_global_highlighting = hint
resharper_unused_auto_property_accessor_local_highlighting = hint
resharper_unused_member_global_highlighting = hint
resharper_unused_member_in_super_global_highlighting = hint
resharper_unused_member_local_highlighting = hint
resharper_unused_method_return_value_global_highlighting = hint
resharper_unused_parameter_local_highlighting = hint
resharper_unused_type_global_highlighting = hint
resharper_unused_type_local_highlighting = hint
resharper_unused_type_parameter_highlighting = hint
resharper_web_config_module_not_resolved_highlighting = warning
resharper_web_config_type_not_resolved_highlighting = warning
resharper_web_config_wrong_module_highlighting = warning

[{*.har,*.jsb2,*.jsb3,*.json,.babelrc,.eslintrc,.stylelintrc,bowerrc,jest.config}]
indent_style = space
indent_size = 2

[{*.bash,*.sh,*.zsh}]
indent_style = space
indent_size = 2

[*.{fs,fsi,fsscript,fsx,ml,mli}]
indent_style = space
indent_size = 2
tab_width = 4

[*.{appxmanifest,axaml,build,dtd,nuspec,paml,xaml,xamlx,xoml,xsd}]
indent_style = tab
indent_size = tab
tab_width = 4

[*.{asax,ascx,aspx,c,c++,cc,cginc,compute,cp,cpp,cs,cshtml,cu,cuh,cxx,fx,fxh,h,hh,hlsl,hlsli,hlslinc,hpp,hxx,inc,inl,ino,ipp,ixx,master,mpp,mq4,mq5,mqh,razor,resw,resx,skin,tpp,usf,ush,vb}]
indent_style = space
indent_size = 4
tab_width = 4
